[alias]
    a = add --all
    ai = add -i
    #############
    ap = apply
    as = apply --stat
    ac = apply --check
    #############
    ama = am --abort
    amr = am --resolved
    ams = am --skip
    #############
    b = branch
    ba = branch -a
    bd = branch -d
    bdd = branch -D
    br = branch -r
    bc = rev-parse --abbrev-ref HEAD
    bu = !git rev-parse --abbrev-ref --symbolic-full-name "@{u}"
    bs = !git-branch-status
    db = !git symbolic-ref refs/remotes/origin/HEAD --short | sed 's@origin/@@'
    #############
    c = commit
    ca = commit -a
    cm = commit -m
    cam = commit -am
    cem = commit --allow-empty -m
    cd = commit --amend
    cad = commit -a --amend
    ced = commit --allow-empty --amend
    #############
    cl = clone
    cld = clone --depth 1
    clg = !sh -c 'git clone https://github.com/$1 $(basename $1)' -
    clgp = !sh -c 'git clone git@github.com:$1 $(basename $1)' -
    clgu = !sh -c 'git clone git@github.com:$(git config --get user.username)/$1 $1' -
    #############
    cp = cherry-pick
    cpa = cherry-pick --abort
    cpc = cherry-pick --continue
    #############
    d = diff
    dp = diff --patience
    dc = diff --cached
    dk = diff --check
    dck = diff --cached --check
    dt = difftool
    dct = difftool --cached
    #############
    f = fetch
    fo = fetch origin
    fu = fetch upstream
    #############
    fp = format-patch
    #############
    fk = fsck
    #############
    g = grep -p
    #############
    l = log --oneline
    lg = log --graph --pretty='%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --all
    dl = log -p --ext-diff
    #############
    ls = ls-files
    lsf = !git ls-files | grep -i
    #############
    m = merge
    ma = merge --abort
    mc = merge --continue
    ms = merge --skip
    #############
    o = checkout
    ob = checkout -b
    om = !git checkout $(git db)
    ot = !sh -c 'git checkout --track origin/$1' -
    opr = !sh -c 'git fo pull/$1/head:pr-$1 && git o pr-$1' -
    #############
    pr = prune -v
    #############
    ps = push
    psf = push --force-with-lease
    psu = push -u
    pst = push --tags
    #############
    pso = push origin
    psao = push --all origin
    psfo = push --force-with-lease origin
    psuo = push -u origin
    #############
    psom = !git push origin $(git db)
    psaom = !git push --all origin $(git db)
    psfom = !git push --force-with-lease origin $(git db)
    psuom = !git push -u origin $(git db)
    psoc = !git push origin $(git bc)
    psaoc = !git push --all origin $(git bc)
    psfoc = !git push --force-with-lease origin $(git bc)
    psuoc = !git push -u origin $(git bc)
    psdc = !git push origin :$(git bc)
    #############
    pl = pull
    #############
    plo = pull origin
    plu = pull upstream
    #############
    plom = !git pull origin $(git db)
    plum = !git pull upstream $(git db)
    #############
    ploc = !git pull origin $(git bc)
    pluc = !git pull upstream $(git bc)
    #############
    rb = rebase
    rba = rebase --abort
    rbc = rebase --continue
    rbi = rebase --interactive
    rbm = !git fo && git rb origin/$(git db)
    rbs = rebase --skip
    #############
    re = reset
    rh = reset HEAD
    reh = reset --hard
    rem = reset --mixed
    res = reset --soft
    rehh = reset --hard HEAD
    remh = reset --mixed HEAD
    resh = reset --soft HEAD
    rehom = !git reset --hard origin/$(git db)
    #############
    r = remote
    ra = remote add
    rr = remote rm
    rv = remote -v
    rn = remote rename
    rp = remote prune
    rao = remote add origin
    rau = remote add upstream
    rro = remote remove origin
    rru = remote remove upstream
    rso = remote show origin
    rsu = remote show upstream
    rpo = remote prune origin
    rpu = remote prune upstream
    #############
    rs = restore
    #############
    rmf = rm -f
    rmrf = rm -r -f
    #############
    s = status
    sb = status -s -b
    #############
    sa = stash apply
    sc = stash clear
    sd = stash drop
    sl = stash list
    sp = stash pop
    ss = stash push
    ssk = stash push -k
    sw = stash show
    st = !git stash list | wc -l 2>/dev/null | grep -oEi '[0-9][0-9]*'
    #############
    t = tag
    td = tag -d
    #############
    w = show --ext-diff
    wp = show -p --ext-diff
    wr = show -p --no-color
    #############
    subadd = !sh -c 'git submodule add https://github.com/$1 $2/$(basename $1)' -
    subrm = !sh -c 'git submodule deinit -f -- $1 && rm -rf .git/modules/$1 && git rm -f $1' -
    subup = submodule update --init --recursive
    subpull = !git submodule foreach git pull --tags origin $(git db)
    #############
    assume = update-index --assume-unchanged
    unassume = update-index --no-assume-unchanged
    assumed = !git ls-files -v | grep ^h | cut -c 3-
    unassumeall = !git assumed | xargs git unassume
    assumeall = !git status -s | awk {'print $2'} | xargs git assume
    #############
    bump = !sh -c 'git commit -am \"Version bump v$1\" && git psuoc && git release $1' -
    release = !sh -c 'git tag v$1 && git pst' -
    unrelease = !sh -c 'git tag -d v$1 && git pso :v$1' -
    merged = !sh -c 'git o $(git db) && git plom && git bd $1 && git rpo' -
    aliases = !git config -l | grep alias | cut -c 7-
    snap = !git stash push -m 'snapshot: $(date)' && git stash apply 'stash@{0}'
    bare = !sh -c 'git symbolic-ref HEAD refs/heads/$1 && git rm --cached -r . && git clean -xfd' -
    whois = !sh -c 'git log -i -1 --author=\"$1\" --pretty=\"format:%an <%ae>\"' -
    serve = daemon --reuseaddr --verbose --base-path=. --export-all ./.git
    #############
    behind = !git rev-list --left-only --count $(git bu)...HEAD
    ahead = !git rev-list --right-only --count $(git bu)...HEAD
    #############
    ours = "!f() { git checkout --ours $@ && git add $@; }; f"
    theirs = "!f() { git checkout --theirs $@ && git add $@; }; f"
    subrepo = !sh -c 'git filter-repo --subdirectory-filter $1 -- $(git db)' -
    human = name-rev --name-only --refs=refs/heads/*
    sync = !git checkout $(git db) && git pull && git branch -vv | grep ': gone]' | awk '{print $1}' | xargs -r git branch -D

[branch]
    autosetuprebase = always

[color]
    ui = auto

[color "branch"]
    current = yellow bold
    local = green bold
    remote = cyan bold

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse

[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold

[commit]
    gpgsign = true

[core]
    editor = nvim
    excludesfile = ~/.gitignore
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol

[credential]
    helper = store

[diff]
    tool = difftastic
    external = difft

[difftool]
    prompt = false

[difftool "difftastic"]
    cmd = difft "$MERGED" "$LOCAL" "abcdef1" "100644" "$REMOTE" "abcdef2" "100644"

[pager]
    difftool = true

[fetch]
    prune = true

[github]
    user = ahashim

[init]
    defaultBranch = main

[merge]
    conflictstyle = diff3
    tool = vimdiff

[mergetool]
    prompt = false

[pull]
    rebase = true

[push]
    default = simple

[rerere]
    enabled = 1
    autoupdate = 1

[sequence]
    editor = interactive-rebase-tool

[user]
    name = Ahmed Hashim
    email = ahashim@users.noreply.github.com
    username = ahashim
    signingkey = 928ABC9AF2A527E6C7A3E5077F79712C5D78824F

[web]
    browser = firefox

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
